@import "../../global.scss";


.itemForm{
    margin-top: 40px;
}
.itemCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
 
    h3{
        
        font-family: 'Roboto', sans-serif;
    }
 
    div{
        font-family: 'Roboto', sans-serif;
 
        margin-bottom: 10px;
    }
 
    button{
     
     &:hover{
         background-color: green;
     }
 
    }
 
   
 }
